@import '../../node_modules/govuk_frontend_toolkit/stylesheets/_css3';
@import '../../node_modules/govuk_frontend_toolkit/stylesheets/_conditionals';
@import 'colours';

@mixin v-font-size($size) {
  font-size: ($size * 5) + px;    /* old */
  font-size: $size + vm;   /* IE9 */
  font-size: $size + vmin;
}

.slide {
  background-color: $govuk-blue;
  color: $white;
  margin: 0;
  padding: 8%;
  height: 100%;
  position: absolute;
  top: -100%;
  z-index: 0;
  width: 100%;

  // This null translate transform is included to instruct Chrome to use
  // hardware acceleration for this element, which noticeably improves
  // performance when repainting.
  -webkit-transform: translateZ(0);
  @include transition(top, 0.75s, ease-out);

  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em; /* Adjusts for spacing */
  }

  @include media(tablet) {
    padding-left: 15%;
  }

  &.on-screen {
    top: 0;
    z-index: 2;
  }

  &.previously-on-screen {
    top: 100%;
    z-index: 1;
  }

  .module-title,
  .intro-title {
    @include v-font-size(6);
  }

  .data-from {
    @include v-font-size(4.5);
  }

  .content {
    display: inline-block;
    vertical-align: middle;
  }

  .main-figure {
    @include v-font-size(26);
    display: block;
    &.main-figure-long-value {
      @include v-font-size(21);
    }
  }

  .year-ending {
    @include v-font-size(3.3);
  }

  .data-url {
    @include v-font-size(3.3);
    font-weight: normal;
    position: absolute;
    bottom: 6%;
  }

  .change-increase:before,
  .change-decrease:before {
    display: inline-block;
    padding-right: 0.2em;
    color: $grey-2;
  }

  .change-increase:before {
    content: "\25B2";
    color: $positive-colour;
  }

  .change-decrease:before {
    content: "\25BC";
    color: $negative-colour;
  }

  .change-no-change:before {
    content: "\25CF";
    color: $grey-2;
    margin-right: 5px;
    margin-left: 2px;
  }

  .dashboard-title {
    position: absolute;
    top: 6%;
  }

  .link-dashboard {
    color: $white;
    text-decoration: none;
  }

  .error-message {
    @include v-font-size(7.7);
    line-height: 1.2;
  }

}
